/********************************************************/
/*                     HERO BANNER                      */
/********************************************************/

.hero-banner {
  background:linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25)100%),
  url(../../images/banner-girl.png) no-repeat center 4rem,
  url(../../images/flower-bkgd.jpg) repeat-x center center;
  height: 28.5rem;
  background-size: cover, 10rem 26rem, cover;
  display: flex;
  @include desktop {
    background-size: cover, 16rem 42rem, contain;
    height: 35rem;
  }
}
  .banner-text{
  color: #FFF;
  text-align: center;
  align-self: center;
  width: 70%;
  text-shadow: 2px 2px 4px rgba(100, 100, 100, 0.8);
}
.new-collection {
  text-transform: uppercase;
  font-family: 'Raleway';
  font-weight: 500;
	font-style: normal;
  font-size: 1.2rem;
}
.spring-summer {
  font-family: 'Playfair Display';
  font-weight: normal;
  font-style: normal;
  font-size:2.5rem;
}